# Copyright (c) 2025, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

replicaCount: 1

nameOverride: ""
fullnameOverride: ""

securityContext:
  runAsUser: 0

podSecurityContext: {}

resources:
  limits:
    cpu: "1"
    memory: "1Gi"
  requests:
    cpu: "1"
    memory: "1Gi"

serviceAccount:
  create: true
  annotations: {}
  name: ""

clientCertMountPath: "/etc/ssl/mongo-client"

logLevel: info

config: |
  [[rules]]
  name = "MultipleFatalError"
  description = "Detect occurrence of multiple faults within 7 days"
  time_window = "168h"
  recommended_action = "REPORT_ISSUE"

  [[rules.sequence]]
  criteria = {"healtheventstatus.faultremediated" = true, "healthevent.nodename" = "this.healthevent.nodename"}
  errorCount = 5

  [[rules]]
  name = "RepeatedXidError"
  description = "Detect occurrence of fatal XIDs 5 times within 24 hours"
  time_window = "24h"
  recommended_action = "REPORT_ISSUE"

  [[rules.sequence]]
  criteria = { "healthevent.entitiesimpacted.0.entitytype" = "GPU","healthevent.entitiesimpacted.0.entityvalue" = "this.healthevent.entitiesimpacted.0.entityvalue","healthevent.errorcode.0" = "this.healthevent.errorcode.0","healthevent.nodename" = "this.healthevent.nodename","healthevent.checkname" = "{\"$ne\": \"HealthEventsAnalyzer\"}"}
  errorCount = 5
